@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: theme('colors.gray.900');
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer{
  .btn {
    @apply cursor-pointer p-3 rounded-lg transition-all duration-100 font-bold hover:text-blue-400 inline-flex align-text-bottom items-center gap-2 text-gray-300
  }
  .nav{
    @apply mx-auto hidden md:flex items-center justify-between px-5
  }
  .list-item{
    @apply gap-10 px-5 flex flex-col-reverse items-center xl:flex-row justify-center
  }
  .list-description{
    @apply xl:text-start space-y-5 items-center text-center max-w-xl
  }
  .list-title{
    @apply font-bold text-4xl border-b-2 w-fit border-violet-500 xl:text-left mx-auto xl:mx-0
  }
  .list-text{
    @apply text-2xl
  }
  .project_link{
    @apply hover:text-blue-500 hover:-translate-y-1 transition-all duration-75 space-x-2
  }
  .typewriter{
    @apply inline-block relative w-fit overflow-hidden whitespace-nowrap m-0;
    animation: typing 2s steps(32, end) forwards;
  }
  .typewriter::after {
    content: "";
    @apply absolute right-0 top-0 h-full w-1 bg-white;
    animation: blinkCaret 0.75s step-end infinite;
  }
}


@layer utilities {
  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  @keyframes fadeInDown {
    0% {
      opacity: 0;
      transform: translateY(-10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  @keyframes fallInDown {
    0% {
      opacity: 0;
      transform: translateY(-200px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  @keyframes fallInUp {
    0% {
      opacity: 0;
      transform: translateY(200px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  @keyframes slideInRight{
    0% {
      opacity: 0;
      transform: translateX(-200px);
    }
    100% {
      opacity: 1;
      transform: translateX(0px);
    }
  }

  @keyframes slideInLeft{
    0% {
      opacity: 0;
      transform: translateX(200px);
    }
    100% {
      opacity: 1;
      transform: translateX(0px);
    }
  }

  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  @keyframes blinkCaret {
    from, to { opacity: 0 }
    50% { opacity: 1 }
  }

  .animate-fade-in-up {
    animation: fadeInUp 1s ease-in-out;
  }

  .animate-fade-in-down {
    animation: fadeInDown 1s ease-in-out;
  }

  .animate-fall-up {
    animation: fallInUp 0.7s ease-in-out;
  }

  .animate-fall-down {
    animation: fallInDown 0.7s ease-in-out;
  }

  .animate-slide-in-right{
    animation: slideInRight 1s ease-in-out;
  }

  .animate-slide-in-left{
    animation: slideInLeft 1s ease-in-out;
  }

}
