@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: theme('colors.gray.900');
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer{
  .btn {
    @apply p-3 rounded-lg transition-all duration-100 bg-radial-[at_25%_25%] from-zinc-800 to-zinc-900 to-75% hover:text-blue-400 inline-flex align-text-bottom items-center gap-2 text-gray-300
  }
  .nav{
    @apply max-w-6xl mx-auto hidden md:flex items-center justify-between px-5
  }
  .list-item{
    @apply justify-center gap-10 px-5 flex md:flex-row flex-col-reverse w-full items-center md:justify-start md:items-start
  }
  .list-description{
    @apply text-center md:text-start space-y-5 
  }
  .list-title{
    @apply font-medium text-4xl
  }
  .list-text{
    @apply text-2xl
  }
}
